<h1>Episodes</h1>

<!-- Episodes Table -->
<% if @episodes.present? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Season</th>
        <th>Episode</th>
        <th>Air Date</th>
      </tr>
    </thead>
    <tbody>
      <% @episodes.each do |e| %>
        <tr>
          <td><%= link_to e.title, episode_path(e) %></td>
          <td><%= e.season %></td>
          <td><%= e.episode_number %></td>
          <td><%= e.air_date || "Unknown" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <!-- Pagination Links -->
  <div class="d-flex justify-content-center">
    <%= paginate @episodes %>
  </div>

<% else %>
  <p>No episodes found.</p>
<% end %>
