<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Hey Arnold" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", media: "all" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <%= link_to "Hey Arnold", root_path, class: "navbar-brand" %>

    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <%= link_to "Characters", characters_path, class: "nav-link #{active_class(characters_path)}" %>
      </li>
      <li class="nav-item">
        <%= link_to "Episodes", episodes_path, class: "nav-link #{active_class(episodes_path)}" %>
      </li>
      <li class="nav-item">
        <%= link_to "Quotes", quotes_path, class: "nav-link #{active_class(quotes_path)}" %>
      </li>
      <li class="nav-item">
        <%= link_to "About", about_path, class: "nav-link #{active_class(about_path)}" %>
      </li>
    </ul>
  </div>
</nav>


  <div class="container">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>
  </div>
</body>

</html>
